<div class="row fs-11">
  <div class="col">
    <div class="header-widget float-left py-3 px-4">
      <div>Good Afternoon</div>
      <div class="d-flex align-items-end">
        <span class="fs-40 lh-40 mr-1">12:24</span>
        <span class="fs-9 pb-1">PM</span>
      </div>
      <div>Wed, Sept 29</div>
    </div>
  </div>

  <div class="col">
    <div class="header-widget float-right py-3 px-3 px-lg-4">
      <div class="row">
        <div class="col mb-3 mb-sm-0">
          <div>INSIDE TEMP</div>
          <div class="d-flex h-40px">
            <span class="mr-1 fs-40 lh-40">78<sup>o</sup></span>
            <i class="fi-temperature fs-40 lh-40"></i>
          </div>
          <div>Cooling to 76°F</div>
        </div>

        <div class="col">
          <div>OUTSIDE TEMP</div>
          <div class="d-flex h-40px">
            <span class="mr-1 fs-40 lh-40">86<sup>o</sup></span>
            <i class="fi-cloudy fs-40 lh-40"></i>
          </div>
          <div>92°F/68°F</div>
        </div>
      </div>
    </div>
  </div>
</div>