<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsNavs" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand lh-normal p-0" href="#">
    <i class="fi fi-logo lh-normal d-block h-40px text-gold"></i>
  </a>

  <div class="navbar-brand navbar-brand-name lh-normal pt-2 text-center">
    <i class="fi fi-union-denver lh-normal d-block h-40px"></i>
  </div>

  <div class="collapse navbar-collapse" id="navbarsNavs">
    <div class="ml-auto">
      <ul class="navbar-nav mr-auto">
        <li class="dropdown-divider"></li>
        <li class="nav-item hidden-lg-up active">
          <a class="nav-link" href="#">
            <i class="fi fi-devices mr-2"></i> <span>EVENTS</span>
          </a>
        </li>
        <li class="nav-item hidden-lg-up">
          <a class="nav-link" href="#">
            <i class="fi fi-users mr-2"></i> <span>RESERVATIONS</span>
          </a>
        </li>
        <li class="nav-item hidden-lg-up">
          <a class="nav-link" href="#">
            <i class="fi fi-bolt mr-2"></i> <span>SERVICE</span>
          </a>
        </li>
        <li class="dropdown-divider"></li>
        <li class="nav-item hidden-lg-up">
          <a class="nav-link" href="#">Logout</a>
        </li>
        <li class="nav-item dropdown hidden-md-down">
          <a class="nav-link dropdown-toggle navbar-toggler d-block" id="dropdown-header" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="navbar-toggler-icon"></span></a>
          <div class="dropdown-menu" aria-labelledby="dropdown-header">
            <a class="dropdown-item" href="#">
              <i class="fi fi-devices mr-2"></i> <span>EVENTS</span>
            </a>
            <a class="dropdown-item" href="#">
              <i class="fi fi-users mr-2"></i> <span>RESERVATIONS</span>
            </a>
            <a class="dropdown-item" href="#">
              <i class="fi fi-bolt mr-2"></i> <span>SERVICE</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
