@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($font-size) {
  font-size: $font-size; //Fallback in px
  font-size: calculateRem($font-size);
}

@mixin lineHeight($line-height) {
  line-height: $line-height; //Fallback in px
  line-height: calculateRem($line-height);
}

@mixin size($width: null, $height: null) {
  width: $width; //Fallback in px
  width: calculateRem($width);

  @if ($height != null) {
    height: $height; //Fallback in px
    height: calculateRem($height);
  }
}
